<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TiempodeUnaCervezaDef.Properties.Settings.b1un9fsfnx0ccx4crkw2ConnectionString" connectionString="User Id=ubrblapzicskrima;Host=b1un9fsfnx0ccx4crkw2-mysql.services.clever-cloud.com;Database=b1un9fsfnx0ccx4crkw2;Persist Security Info=True" providerName="Devart.Data.MySql" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>